html, body {
  height: 100%;
  width: 100%;
  position: relative;
  

  background: #FFFBE9;
  text-align: center;
}

input[type=text] {
  position: relative;
  width: 278px;
  height: 44px;
  top: 50px;
  text-align:center;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  background: rgba(204, 214, 166, 0.58);
  border-radius: 10px;
}

input[type=checkbox]{
  position: relative;
  width: 278px;
  height: 44px;
  top: 50px;
  text-align:center;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  background: rgba(204, 214, 166, 0.58);
  border-radius: 10px;
}

label{
  position: relative;
  width: 278px;
  height: 44px;
  top: 50px;
  text-align:center;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  background: rgba(204, 214, 166, 0.58);
  border-radius: 10px;
}

.title{
  position: relative;
  height: 63px;
  top: 70px;

  font-family: 'Garamond';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 51px;

  color: rgba(0, 0, 0, 0.73);
}

.description{
  position: relative;
  height: 36px;
  top: 20px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: center;

  color: #000000;
}

.next-button{
  position: relative;
  width: 248px;
  height: 44px;
  top: 100px;

  margin: auto;

  background: #FBC252;
  border-radius: 10px;
}

.text-button{
  font-family: "Helvetica";
  position: relative;
  padding: 12px;
  text-align: center;
}

.logo{
  position: relative;
  top: 50px;
  width: 100px;  
  height: auto;
}

.info-form{
  position: relative;
  top: 25px;
}

.rectangle{
  position: relative;
  top: 75px;
  width: 275px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: auto;
  padding: 20px;

  color: #000000;

  background: rgba(204, 214, 166, 0.58);
  border: 1px solid #000000;
  border-radius: 10px;
}