html, body {
  height: 100%;
  width: 100%;
  position: relative;
  

  background: #FFFBE9;
  text-align: center;
}

.title{
  position: relative;
  height: 63px;
  top: 70px;

  font-family: 'Garamond';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 51px;

  color: rgba(0, 0, 0, 0.73);
}

.description{
  position: relative;
  height: 36px;
  top: 20px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: center;

  color: #000000;
}

.getstarted-button{
  position: relative;
  width: 248px;
  height: 44px;
  top: 50px;

  margin: auto;

  background: #FBC252;
  border-radius: 10px;
}

.text-button{
  font-family: "Helvetica";
  position: relative;
  padding: 12px;
  text-align: center;
}

.logo{
  position: relative;
  top: 25px;
  width: 100px;  
  height: auto;
}