html, body {
  height: 100%;
  width: 100%;
  position: relative;
  

  background: #FFFBE9;
  text-align: center;
}

input[type=text] {
  position: relative;
  width: 278px;
  height: 44px;
  top: 50px;
  text-align:center;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  background: rgba(204, 214, 166, 0.58);
  border-radius: 10px;
}

.box{
  position: relative;
  width: 278px;
  height: 44px;
  top: 50px;
  text-align:center;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  padding: 20px;

  margin: auto;

  background: rgba(204, 214, 166, 0.58);
  border-radius: 10px;
}

.title{
  position: relative;
  height: 63px;
  top: 70px;

  font-family: 'Garamond';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 51px;

  color: rgba(0, 0, 0, 0.73);
}

.description{
  position: relative;
  height: 36px;
  top: 20px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: center;

  color: #000000;
}

.next-button{
  position: relative;
  width: 248px;
  height: 44px;
  top: 100px;

  margin: auto;

  background: #FBC252;
  border-radius: 10px;
}

.text-button{
  font-family: "Helvetica";
  position: relative;
  padding: 12px;
  text-align: center;
}

.logo{
  position: relative;
  top: 50px;
  width: 100px;  
  height: auto;
}

.logo2{
  position: relative;
  top: 62px;
  width: 200px;  
  height: auto;
}

.info-form{
  position: relative;
  top: 25px;
}

.rectangle{
  position: relative;
  top: 75px;
  width: 275px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: auto;
  padding: 20px;

  color: #000000;

  background: rgba(204, 214, 166, 0.58);
  border: 1px solid #000000;
  border-radius: 10px;
}

#my-pie-chart {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  /* background: conic-gradient(brown 0.00%, black 0.00% 0.55%, blue 0.55% 6.08%, green 6.08% 13.68%, yellow 13.68% 23.27%, orange 23.27% 40.47%, red 40.47%); */
}